@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: "outfit"; }
  * a {
    text-decoration: none; }

/* Tipografias */
@font-face {
  font-family: outfit;
  src: url(../resources/tipografia/Outfit/Outfit-VariableFont_wght.ttf); }

h1 {
  font-size: 29px;
  font-weight: 900;
  color: #2B2A35; }

h2 {
  font-size: 23px;
  color: #2B2A35;
  font-weight: 800; }

.h2-secundary {
  color: #FFFFFF; }

h4 {
  font-size: 17px;
  color: #2B2A35;
  font-weight: 300; }

.h4-secundary {
  font-size: 17px;
  color: #FFFFFF;
  font-weight: 300; }

.color-highlight {
  color: #334AC0; }

.bold {
  font-weight: bold; }

/* Buttons */
.button-primary:hover {
  background-color: #233175; }

.button-secundary:hover {
  background-color: #334AC0;
  color: #FFFFFF; }

.header__button a {
  text-decoration: none;
  color: white;
  font-weight: bold; }

.button-primary {
  display: inline-block;
  padding: 14px 28px;
  background-color: #334AC0;
  transition: background-color 0.30s ease;
  border-radius: 20px;
  box-shadow: 4px 4px 30px 0px #334ac080; }

.button-primary-xl {
  display: inline-block;
  padding: 14px 86px;
  background-color: #334AC0;
  transition: background-color 0.30s ease;
  border-radius: 20px;
  box-shadow: 4px 4px 30px 0px rgba(51, 74, 192, 0.5); }

.button-secundary {
  display: inline-block;
  padding: 14px 28px;
  transition: background-color 0.30s ease;
  border: #334AC0 solid;
  border-radius: 20px;
  color: #334AC0; }

/* Header */
nav div a img {
  width: 140px; }

.custom__navbar {
  background-color: white !important;
  box-shadow: 0px 0px 5px #b8b8b8;
  height: 100px; }

/* INDEX */
/* Main */
/* Banner Hero */
main section img {
  width: 310px; }

.main .main__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  margin-bottom: 40px; }

.main__hero div {
  text-align: center;
  width: 284px;
  margin: 28px 53px 48px 53px; }

.main__hero div h1 {
  margin-bottom: 20px; }

.main__hero div .button-primary {
  margin-bottom: 8px;
  color: white;
  text-decoration: none;
  font-weight: 600; }

.main__hero div .button-secundary {
  font-weight: 600; }

.main__hero div .main__hero--buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0; }

/* Sección 1 */
.main .main__section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6; }

.main .main__section-1 div {
  text-align: center; }

.main .main__section-1 div h2 {
  width: 240px;
  margin: auto;
  margin-bottom: 8px;
  margin-top: 30px; }

.main .main__section-1 div h4 {
  width: 270px;
  margin-bottom: 0px;
  /* height: 54px; */ }

.main__section-1 div .button-primary {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  margin: 20px 0px 32px 0px; }

.main__section-1 img {
  width: 100%; }

/* Sección 2 */
.main__section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #334AC0; }

.main__section-2 div {
  text-align: center; }

.main__section-2 div h2 {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 8px;
  width: 240px; }

.main__section-2 .h4-secundary {
  width: 270px;
  margin-bottom: 32px; }

.main__section-2 img {
  width: 340px;
  margin-bottom: 30px; }

/* Sección 3 */
.main__section-3 {
  display: flex;
  flex-direction: column;
  align-items: center; }

.main__section-3 div {
  text-align: center; }

.main__section-3 div h2 {
  margin-top: 30px; }

.main__section-3 div h4 {
  width: 305px;
  margin: auto;
  margin-bottom: 32px; }

.main__section-3 img {
  margin-bottom: 30px; }

/* Sección 4 */
.main__section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 392px;
  margin: 0px 0px 0px 0px;
  background-image: url(../resources/img/persona-wireframe-mobile.png);
  background-repeat: no-repeat;
  background-position: center; }

.main__section-4 div h2 {
  text-align: center;
  width: 200px;
  margin: auto;
  margin-bottom: 8px; }

.main__section-4 div h4 {
  text-align: center;
  width: 250px;
  margin-bottom: 20px; }

.main__section-4 a {
  color: white;
  text-decoration: none;
  font-weight: 600; }

.main__section-4 {
  margin-bottom: 30px; }

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 171px;
  width: 100%;
  background-color: #334AC0; }

.footer .footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer .footer__logo small {
  text-align: center;
  color: #FFFFFF;
  width: 290px; }

.footer .footer__logo img {
  margin: 30px 0px 12px 0px;
  width: 120px; }

.footer .footer__linkedin img {
  margin: 30px 0px 30px 0px;
  width: 40px; }

/* Media Queries */
@media (min-width: 768px) {
  /* Banner Hero */
  .main .main__hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px; }
  .main__hero div {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 320px;
    margin: 28px 53px 48px 0px; }
  .main__hero div .button-primary {
    margin-bottom: 0px;
    margin-right: 8px; }
  .main__hero div .main__hero--buttons {
    display: flex;
    flex-direction: row;
    width: 320px;
    height: 100%; }
  /* Sección 1 */
  .main .main__section-1 div h2 {
    width: 100%; }
  .main .main__section-1 div h4 {
    width: 270px;
    text-align: center;
    width: 380px; }
  .main__section-1 div .button-primary {
    padding: 14px 86px; }
  .main__section-1 img {
    width: 100%; }
  /* Sección 2 */
  .main__section-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  .main__section-2 div {
    text-align: start; }
  .main__section-2 div h2 {
    margin: 0px 0px 8px 0px;
    width: 240px; }
  .main__section-2 .h4-secundary {
    width: 270px;
    margin-bottom: 0px; }
  .main__section-2 img {
    margin-top: 30px; }
  /* Sección 3 */
  .main__section-3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center; }
  .main__section-3 div {
    text-align: start; }
  .main__section-3 div h2 {
    margin-top: 0px; }
  .main__section-3 div h4 {
    width: 305px;
    margin: auto;
    margin-bottom: 0px; }
  .main__section-3 img {
    margin-top: 30px;
    margin-bottom: 30px; }
  /* Sección 4 */
  .main__section-4 {
    background-image: url(../resources/img/persona-wireframe-medium.png); }
  .main__section-4 div h4 {
    width: 340px; }
  .main__section-4 a {
    padding: 14px 86px; }
  .main__section-4 {
    margin-bottom: 30px; }
  /* Footer */
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 100px;
    width: 100%; }
  .footer .footer__logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .footer .footer__logo small {
    text-align: start;
    color: #FFFFFF;
    width: 100%; }
  .footer .footer__logo img {
    margin: 0px;
    margin-bottom: 8px;
    width: 120px; }
  .footer .footer__linkedin img {
    margin: 30px 0px 30px 0px;
    width: 40px; } }

@media (min-width: 1200px) {
  /* Fonts */
  h1 {
    font-size: 76px; }
  h2 {
    font-size: 64px; }
  h4 {
    font-size: 34px; }
  .h4-secundary {
    font-size: 34px;
    font-weight: 200; }
  main section img {
    width: 490px; }
  /* Main Hero */
  .main .main__hero {
    margin-top: 70px;
    margin-bottom: 70px; }
  .main__hero div {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 700px;
    margin: 0px; }
  .main__hero div .button-primary {
    padding: 22px 28px; }
  .main__hero div .button-secundary {
    padding: 22px 28px; }
  /* Sección 1 */
  .main .main__section-1 div {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main .main__section-1 div h2 {
    margin-top: 70px;
    width: 100%; }
  .main .main__section-1 div h4 {
    width: 800px; }
  .main__section-1 div .button-primary {
    padding: 22px 86px; }
  /* Sección 2 */
  .main__section-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  .main__section-2 div {
    margin: 70px 0px 70px 0px;
    width: 600px;
    text-align: start; }
  .main__section-2 div h2 {
    margin: 0px;
    width: 480px; }
  .main__section-2 .h4-secundary {
    width: 520px; }
  .main__section-2 img {
    width: 480px;
    margin-top: 70px;
    margin-bottom: 70px; }
  /* Sección 3 */
  .main__section-3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center; }
  .main__section-3 div {
    margin-top: 70px;
    margin-bottom: 70px; }
  .main__section-3 div h2 {
    width: 440px; }
  .main__section-3 div h4 {
    width: 520px; }
  .main__section-3 img {
    margin-top: 30px;
    margin-bottom: 30px; }
  /* Sección 4 */
  .main__section-4 {
    height: 392px;
    background-image: url(../resources/img/persona-wireframe.png); }
  .main__section-4 .h2-secundary {
    width: 1000px; }
  .main__section-4 div h4 {
    width: 1000px; }
  .main__section-4 a {
    padding: 22px 86px; }
  .main__section-4 {
    margin-bottom: 70px; } }
