/* Buttons */
@mixin button-primary {
    display: inline-block;
    padding: 22px 28px;
    background-color: $violeta;
    transition: background-color 0.30s ease;
    border-radius: 20px;
    box-shadow: 4px 4px 30px 0px #334ac080;
    color: $blanco;
    font-weight: 600;
}

@mixin button-primary-xl {
    display: inline-block;
    padding: 22px 28px;
    background-color: $violeta;
    transition: background-color 0.30s ease;
    border-radius: 20px;
    box-shadow: 4px 4px 30px 0px rgba(51, 74, 192, 0.50);
    color: $blanco;
}

.button-primary:hover {
    background-color: #233175;
}

@mixin button-secundary {
    display: inline-block;
    padding: 22px 28px;
    transition: background-color 0.30s ease;
    border: $violeta solid;
    border-radius: 20px;
    color: $violeta;
    font-weight: 600;
}

.button-secundary:hover {
    background-color: $violeta;
    color: $blanco;
}

.header__button a {
    text-decoration: none;
    color:$blanco;
    font-weight: bold;
}

.button-primary {
    @include button-primary;
}

.button-primary-xl {
    @include button-primary-xl;
}

.button-secundary {
    @include button-secundary;
}
